language: node_js
node_js:
  - "8"
services: mongodb  
cache:  
  directories:
    - "node_modules"
sudo: false
install:
  - npm install
script:
  - echo "Doing the test." && npm test
before_deploy:
  - git stash drop
deploy:
  - provider: script
    script: chmod +x ./deploy.sh && ./deploy.sh
    on:
      branch: master
