language: node_js
node_js:
  - "8"
services: mongodb  
cache:  
  directories:
    - "node_modules"
sudo: false
install:
  - npm install
deploy:
  - provider: script
    script: "./deploy.sh"
    on:
      branch: master
script:
  - npm test
